body {
    font-family:Verdana;
    touch-action:manipulation;
}
/* a {
    text-decoration:none;
} */

.center {
    text-align:center;
}

/* Money */
#Money {
    color:black;
    background-color:royalblue;
    width:99%;
    height:300px;
    border-radius:50px;
    margin-top:10px;
    display:inline-block;
}

/* Click */
#Click {
    text-align:center;
}
#Click1 {
    background-color:black;
    width:100%;
    height:300px;
}
/* #Click2 {
} */
#Click3 {
    background-color:black;
    width:100%;
    height:100% - 750px;
}