body {
    font-family:Verdana;
    overflow:hidden;
    touch-action:manipulation;
}
/* a {
    text-decoration:none;
} */

.center {
    text-align:center;
}

/* Money */
#Money {
    color:black;
    background-color:royalblue;
    width:99%;
    height:150px;
    margin-top:10px;
    display:inline-block;
    border-radius:25px;
}
#MoneyMach {
    padding-left:20px;
}

#Click {
    color:grey;
    height:200px;
}

#Menu {
    bottom:0;
}