body {
    font-family:Verdana;
}
a {
    text-decoration:none;
}

[class="1"] {
    margin-left:30px;
}
[class="2"] {
    margin-left:180px;
}
[class="3"] {
    margin-left:180px;
}
[class="4"] {
    margin-left:150px;
}
[class="5"] {
    margin-left:168px;
}

.Size {
    font-size:60px;
}
.SizeMin {
    font-size:30px;
}
.Hint {
    color:gray;
    text-align:center;
}
.Tcenter {
    text-align:center;
}
.color {
    color:black;
}
.PreColor {
    color:royalblue;
}

/* Per */
#Per {
    width:965px;
    height:300px;
    border-radius:50px;
    margin-top:10px;
    background-color:royalblue;
}
#PerMinL {
    width:300px;
    height:300px;
    border-radius:50px;
    margin-top:10px;
    margin-left:100px;
    float:left;
    background-color:royalblue;
}
#PerMinR {
    width:300px;
    height:300px;
    border-radius:50px;
    margin-top:10px;
    margin-right:100px;
    float:right;
    background-color:royalblue;
}

/* Menu */
#Menu {
    word-spacing:130px;
}
.center {
    float:left;
}
#Position {
    position:absolute;
    bottom:0;
}